<!DOCTYPE html>
<body>
    Estimado(a) <b>{{ name }}</b> esta es su nueva contraseña: <br /><br />
    <b>Nombre de usuario:</b> {{ user }} <br />
    <b>Password:</b> {{ pass }} <br />
    Ingrese al portal y seleccione la opcion "Obtener contraseña" y rellene los datos.
</body>
</html>
